body {
	background-color:#FFEBCC;
    color: black;
    font-family: 'Source Serif 4', sans-serif;
    font-weight: 700;
}


h1, h2, h3 {
font-family: 'Press Start 2P', cursive;
color: forestgreen;
}

h1 {

	color: saddlebrown;
    font-weight: 700;
    font-size: 30px;
}


h2 {
font-weight: 500;
font-size: 16px;

}

a {
    font-family: 'Press Start 2P', cursive;
    color: saddlebrown;
    font-weight: bolder;
    text-decoration: none;
    font-size: 15px;

}

a:hover {

    color: coral;

}


.container {
    width: 700px;
    margin: 40px auto;

}

@media (max-width: 760px) {

    .container {
        width: 600px;


    }

}


@media (max-width: 500px) {

    .container {
        width: 400px;


    }

}

.card-white {
    background-color: white;
    padding: 40px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 20px 0px;
    text-align: center;


}


.img-circle {

    border-radius: 50%;
}


.btn-brown {
    background-color: saddlebrown;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
}


.btn-brown:hover{
    background-color: hotpink;
    color: white;

}

.list-inline {
    list-style: none;
    padding-left: 0px;

}


.list-inline li {
    display: inline;
    padding: 10px;

}


.list-inline i {
    color: gainsboro;
    font-size: 50px;
}

.list-inline i:hover {
    color: saddlebrown;
    font-size: 50px;
}


#introduction p {
    margin-bottom: 40px;


}



